.instruction {
    font-size: 16;
    text-align: center;
    margin:40;
    padding:15;
    width:60%;
    color:rgb(32, 32, 32);
    background-color:#ffe377;
    border-radius: 15;
    border-color: #000;
    border-width: 3;
}

