<WrapLayout class="image-list" orientation="horizontal" backgroundColor="lightgray">
    
    <AbsoluteLayout *ngFor="let image of images" width="20%" height="20%" backgroundColor="blue">
        <Image width="100%" height="100%" [src]="image.imageFile" stretch="aspectFill" (tap)="loadImage(image)"></Image>
        <Label class="month-name" [text]="getMonthName(image)" width="100%"></Label>
    </AbsoluteLayout>

    <Button class="btn btn-primary btn-add" text="&#xf067;" width="20%" height="20%" (tap)="newImage()"></Button>

</WrapLayout>
<!-- <StackLayout class="content-layout" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
    <app-message-win message=""></app-message-win>
    <Button class="btn btn-primary" horizontalAlignment="center" id="btn_select_img" text="Kép kiválasztása" (tap)="selectImage()"></Button>
</StackLayout> -->

<app-closeable settingsName="image_select_help_closed">
    <app-message-win message="Adj hozzá új háttérképet, amin a naptárat fogod elhelyezni."></app-message-win>
</app-closeable>

<ActionBar title="test" android.icon="res://icon" android.iconVisibility="always">
    <StackLayout orientation="horizontal"
      ios:horizontalAlignment="center"
      android:horizontalAlignment="left">
      <Label text="BeePakKalendar" class="action-bar-title"></Label>
    </StackLayout>
</ActionBar>