@import '../app-common';

.btn-add{
    margin: 0;
    padding: 0;
    font-family: $iconFont;
    font-size: 26;
    color: #fff;
}

.image-list > AbsoluteLayout {
    margin: 3;
}

.month-name {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: $titleFont;
    font-size: 13;
    text-transform: capitalize;
    color: #000000;
}