<StackLayout class="content-layout" orientation="vertical" horizontalAlignment="center" verticalAlignment="center">
    <app-message-win message="Válaszd ki a háttérképet, amin a naptárat fogod elhelyezni."></app-message-win>
    <Button height="50" width="60%" class="btn btn-primary" id="btn_select_img" text="Kép kiválasztása" (tap)="selectImage()"></Button>
</StackLayout>
<ActionBar title="test" android.icon="res://icon" android.iconVisibility="always">
    <StackLayout orientation="horizontal"
      ios:horizontalAlignment="center"
      android:horizontalAlignment="left">
      <Label text="BeePakKalendar" class="action-bar-title"></Label>
    </StackLayout>
</ActionBar>