// Import the theme’s variables. If you’re using a color scheme
// other than “light”, switch the path to the alternative scheme,
// for example '~nativescript-theme-core/scss/dark'.
@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;
$beepakk: #ffcc00 !default;
// $beepakkMenta: #75FF91 !default;
$beepakkMenta: #81c14b !default;
// $beepakkMenta: #9AFFAF !default;
// $btn-color: $beepakkMenta;
// $btn-color-inverse: $black; // text color
// $accent: $beepakkMenta;
  
// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.action-bar-title {
    font-size: 18;
    font-family: "ArimaMadurai-Bold";
}

.marker-color-1 {
    color: #edc387;
}

.marker-color-2 {
    color: #7b160e;
}

.marker-color-3 {
    color: #8e8737;
}

.icon-font {
    font-family: 'fontawesome-webfont';
}

// nativescript-theme-core\scss\_variables.scss
// Buttons
$accent: $beepakkMenta;
$btn-color: $accent;
$btn-color-inverse: $black;
// $btn-color-secondary: #01a0ec;
// $btn-color-outline-highlighted: #c0ebff;
// $btn-color-disabled: #a4a4a4;
// $btn-font-size: 18;
// $btn-radius: 0;
// $btn-padding-x: 10;
// $btn-padding-y: 10;
// $btn-margin-x:	16;
// $btn-margin-y:	8;

/**
 * Light variable overrides
 * nativescript-theme-core\scss\skins\light\_variables.scss
 **/
/*
// Colors
$background: #fff;
$primary: lighten(#000, 13%);
$secondary: lighten(#000, 46%);
$disabled: lighten(#000, 62%);
// $accent: $sky;
$accent: $beepakk;

// SideDrawer
$item-color-android : #737373;
$item-active-background: $accent;
$item-active-color: #fff;
$item-active-icon-color: #fff;
$item-color-ios: #949494;
$image-background: #e0e0e0;
$side-drawer-header-background: #fafafa;
$side-drawer-header-brand: #737373;
$side-drawer-background: #fafafa;
*/

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

