<AbsoluteLayout class="mainLayout">
    
    <AbsoluteLayout #calendarImage class="calendarView" (pan)="onCalendarPan($event)" [left]="calendar_x" [top]="calendar_y">
        <Image class="croppedImage" [imageSource]="imageCropped" stretch="aspectFit"></Image>

        <StackLayout class="logo" orientation="horizontal" verticalAlignment="bottom" horizontalAlignment="right">
            <Image src="res://icon"></Image>
            <Label text="BeePakKalendar"></Label>
        </StackLayout>
        
        <app-pan-and-scale [scale]="calendarScale" #pancomponent>
            <ns-view-month #viewMonth (innerPan)="pancomponent.onPan($event)"></ns-view-month>
        </app-pan-and-scale>
    </AbsoluteLayout>

    <StackLayout class="tools-layout" orientation="vertical" verticalAlignment="bottom">
        <GridLayout class="slider-layout" height="36" rows="*" columns="auto,*,auto">
            <Label col="0" class="icon-font" text="&#xf010;"></Label>
            <Slider col="1" class="slider" value="10" (valueChange)="onSliderValueChange($event)" minValue="5" maxValue="20"></Slider>
            <Label col="2" class="icon-font" text="&#xf00e;"></Label>
        </GridLayout>
        <GridLayout rows="60" columns="*,*,*">
            <Button col="0" class="btn btn-primary" (tap)="viewMonth.stepMonth(-1)">
                <FormattedString>
                    <Span text="&#xf068;" class="icon-font"></Span>
                    <Span text=" HÓNAP"></Span>
                </FormattedString>                        
            </Button>
            <Button col="1" class="btn btn-primary" (tap)="viewMonth.stepMonth(1)">
                <FormattedString>
                    <Span text="&#xf067;" class="icon-font"></Span>
                    <Span text=" HÓNAP"></Span>
                </FormattedString>                        
            </Button>
            <Button col="2" class="btn btn-primary" (tap)="capture()">
                <FormattedString>
                    <Span text="&#xf054;" class="icon-font"></Span>
                    <Span text=" TOVÁBB"></Span>
                </FormattedString>                        
            </Button>
        </GridLayout>
    </StackLayout>

</AbsoluteLayout>

<app-closeable>
    <app-message-win message="&#x2665; Bökj a fontos dátumokra, jelöld őket tetszés szerint.&#x000a;&#x2665; Helyez el a naptárat a képen, ahol tetszik."></app-message-win>
</app-closeable>

<ActionBar title="test" android.icon="res://icon" android.iconVisibility="always">
    <StackLayout orientation="horizontal"
      ios:horizontalAlignment="center"
      android:horizontalAlignment="left">
      <Label text="BeePakKalendar" class="action-bar-title"></Label>
    </StackLayout>
</ActionBar>