.mainLayout,
// .calendarView,
.croppedImage,
.mainLayout > .tools-layout {
    width: 100%;
    height: 100%;
}

.calendar-grid > Label {
    text-align: center;
    vertical-align: middle;
}

.dockLayout Button {
    padding: 2;
}

.logo {
    opacity: 0.5;
    Label {
        font-family: 'ArimaMadurai-Bold';
        vertical-align: center;
        color: #ffcc00;
    }
    Image {
        width: 50;
        height: 50;
    }
}

.slider-layout {
    background-color: rgba(255, 255, 255, 0.4);
    vertical-align: center;
    margin-left: 10;
    margin-right: 10;
}

.slider-layout > Label {
    font-family: 'fontawesome-webfont';
    font-size: 18;
    width: 30;
    height: 30;
    text-align: center;
    padding-top: 5;
}

