@import '../app-common';

.marker-grid > .icon {
    font-family: $iconFont;
    font-size: 30;
    text-align: center;
    vertical-align: center;
    padding: 4;
}

.marker-grid > .icon.small-dot {
    font-size: 12;
    padding: 14;
}

.marker-selected {
    background-color: lighten($beepakk, 40);
    border-color: $beepakk;
    border-width: 1;
}

.marker-select-label {
    margin: 8 14;
    border-radius: 8;
}